body {
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
}

/*========= Navbar =========*/

.navbar {
	padding: 0.6rem 0;
	font-size: 16px;
	font-weight: 500;
}

.nav-link {
	color: #A6A6A6 !important;
}

.nav-item {
	padding: 0 8px;
}

.nav-item.active a{
	font-weight: 700;
}
.nav-item.active a, .nav-link:hover {
	color: #000000 !important;
}

.btn:focus {
	box-shadow: none;
}
.nav-btn {
	font-size: 16px;
	font-weight: 500;
	color: #A6A6A6;
	background-color: transparent;
}

.nav-btn.btn-active {
	color: #F8F8FA;
	background-color: #54BD95;
	border-radius: 10px;
}

.navbar-light .navbar-toggler {
	color: #54BD95;
	border-color: #54BD95;
}

.logo_text {
	color: #54BD95;
	font-weight: 900;
}

/*========= Header Section =========*/

.margin-section {
	margin: 100px 0;
}

.heading {
    font-size: 22px;
    font-weight: 700;
    color: #191A15;
    line-height: 80px;
    margin-bottom: -10px;
}

.header-left-section img {
	margin-bottom: 40px;
	max-width: 100%;
}

.description {
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 40px;
	line-height: 30px;
}

.header-img {
	max-width: 100%;
}


.header-img-btn {
	font-size: 18px;
	font-weight: 500;
	color: #191A15;
	padding: 20px 30px;
	background-color: transparent;
}

.img-btn-active {
	color: #ffffff;
	background-color: #54BD95;
	border-radius: 40px;
}

.header-right-section {
	position: relative;
	height: 526px;
}

.income-img {
	position: absolute;
	bottom: 30px;
	left: 15px;
}

.sq-img {
	position: absolute;
  right: -33px;
  top: 30px;
}

.credit-card-img {
	position: absolute;
  bottom: 15px;
  right: -110px;
}

.text-img {
  position: absolute;
  bottom: -25px;
  right: 50px;	
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #54BD95;
  margin: auto;
  padding: 20px;
  border: 1px solid #54BD95;
  width: 55%;
}
.close {
  color: #000000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  text-shadow: none;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}


/*========= Logos Section =========*/

.logos-heading {
	font-size: 40px;
	font-weight: 700;
	color: #191A15;
	margin-top: 25px;
}

.logos-mg {
	margin: 40px 0 110px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 58px;
}



/*========= Footer Section =========*/

.footer-bg {
	background-color: #161C28;
	padding: 1px 0 20px;
}

.footer-left h1 {
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
}

.footer-left p {
	font-size: 18px;
	font-weight: 500;
	color: #A6A6A6;
	margin: 21px 0;
}

.footer-left-img {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	margin-top: 40px;
}

.footer-left-img img{
	cursor: pointer;
}

.get-start-bg {
	background-color: #222938;
	padding: 45px;
}

.get-img {
	text-align: center;
}

.get-img h2 {
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	margin-top: 12px;
}

.contact .form-group label {
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
}

.form-control {
	font-size: 14px;
	font-weight: 500;
	color: #A6A6A6;
	border-radius: 6px;
	padding: 12px;
}

.contact-btn {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #54BD95;
	border-radius: 6px;
	width: 100%;
	padding: 10px;
}

.footer-biccas {
	margin: 100px 0 50px;
}

.footerlast p {
	font-size: 18px;
	font-weight: 500;
	color: #A6A6A6;
	margin: 30px 0;
}


.footerlast-input {
	font-size: 18px;
	font-weight: 500;
	color: #A6A6A6;
	border: 1px solid #A6A6A6;
	border-radius: 35px;
	background-color: transparent;
}

.footerlast-input:focus {
	background: transparent;
	color: #A6A6A6;
}

/*
.right-arrow {
	position: absolute;
  top: 83px;
  right: 19px;
  color: #ffffff;
  background-color: #54BD95;
  padding: 15px;
  border-radius: 35px;
  font-size: 20px;
}

*/

.footer-lists ul {
	list-style-type: none;
}

.footer-lists ul li a {
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
	color: #A6A6A6;
	text-decoration: none;
}

.footer-copyright {
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
}





/*========= Media Queries =========*/

@media only screen and (max-width: 1200px) {

.heading {
	font-size: 60px;
}

.flex-container {
  gap: 13px;
}

.feature-heading {
  font-size: 30px;
}

.plan-form2 label {
  padding: 14px;
  margin: 10px;
}

}

@media only screen and (max-width: 992px) {

.heading {
	font-size: 30px;
	line-height: 50px;
}

.income-img, .sq-img, .credit-card-img, .text-img {
	display: none;
}

.header-img-btn {
	font-size: 16px;
	padding: 10px 15px;
}

.margin-section {
	margin: 40px 0 0;
}

.logos-heading {
	font-size: 30px;
	margin-top: 0;
}

.flex-container {
  gap: 30px;
}

.svg-bg {
	display: flex;
	flex-direction: row-reverse;
}

.rating-content h1 {
	font-size: 30px;
	line-height: 40px;
}

.feature-desc {
    font-size: 15px;
    line-height: 20px;
}

.feature-heading {
  font-size: 20px;
}

.feature-card h4 {
    font-size: 20px;
}

.feature-card p {
    font-size: 16px;
}

.saving-img, .frame-img, .money-img, .inc-img {
	display: none;
}

.bene-left-sec h2 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 40px;
}

.bene-list {
  gap: 25px;
  padding-bottom: 20px;
}

.bene-list p {
  font-size: 16px;
}

.plan-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.footer-left h1 {
    font-size: 30px;
    line-height: 40px;
}

.footer-left p {
	font-size: 16px;
}


.footer-left-img img {
  width: 15%;
}

.footer-left-img {
  gap: 20px;
}

.get-start-bg {
	padding: 30px;
}

.footer-lists ul li a {
    font-size: 15px;
}

.footer-lists ul {
	padding: 0;
}

.footer-copyright {
	font-size: 14px;
}

}


@media only screen and (max-width: 768px) {

.heading {
  font-size: 25px;
  line-height: 28px;
}

.logos-heading {
  font-size: 25px;
  margin-top: 40px;
}

.logos-mg {
  margin: 40px 0 65px;
}

.rating-content h1 {
  font-size: 25px;
  line-height: 30px;
}

.svg-bg {
  flex-direction: revert;
  margin-bottom: 20px;
}

.feature-heading {
  font-size: 25px;
  margin-bottom: 20px;
}

.feature-desc {
  font-size: 18px;
  line-height: 30px;
}

.bene-left-sec h2 {
  font-size: 25px;
  line-height: 20px;
}

.plan-heading {
  font-size: 25px;
  line-height: 35px;
}

.plan-desc {
	font-size: 16px;
}

.plan-form label {
  font-size: 16px;
  width: 125px;
  height: 55px;
}

.payment-plan2 {
	text-align: center;
}

.footer-left h1 {
    font-size: 25px;
    line-height: 30px;
}

.footer-left-img {
	margin-bottom: 40px;
}

.footer-left-img img {
  width: auto;
}

.footer-copyright {
	float: none !important;
	text-align: center;

}







}


